@font-face {
    font-family: 'logoFont';
    src: url('./assets/logoFont.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;

    font-family:Arial, Helvetica, sans-serif;
}

.navigations {
    box-sizing: border-box;
    width: 240px;
    background-color: lightgray;
    padding: 24px;
    height: 100vh;
}

.logo {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 16px;
}

.logo > img {
    height: 32px;
}

.logo > text {
    font-family: 'logoFont';
    font-size: 21px;
    
}

.navigationGroup {
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.navigationGroup > li {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
}

.navigationGroup > li > p {
    padding-top:2px;
    margin: 0;
    font-weight: 500;
}

.iconMini {
    height: 12px;
    width: 12px;
}

.iconSmall {
    height: 24px;
    width: 24px;
}

.iconMedium {
    height: 28px;
    width: 28px;
}

.tabContent {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.tabHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: lightblue;
    padding: 21px 28px;
    margin: 0;
}

.ducksTracker {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tabHeader > .tabHeaderTitle {
    display: flex;
    gap: 12px;
    align-items: center;
}

.tabHeader > .tabHeaderTitle > h1 {
    padding-top: 3px;
    margin: 0;
    font-size: 24px;
}

.tabTasks {
    padding: 21px 28px;
}

.tabTasks h2 {
    margin: 0;
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.taskItemCard {
    border: 1px solid lightgray;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.taskFirstLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.taskTitle {
    flex: 1;
    font-size: 14px;
}

.taskSecondLine {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 28px;
    margin-top: 4px;

}

.taskScheduled {
    display: flex;
    align-items: center;
    gap: 4px;
}

.taskDucks {
    display: flex;
    align-items: center;
    gap: 4px;
}

.label > span {
    padding-top: 1px;
    font-size: 10px;
}

.label {
    background-color: rgb(241, 214, 218);
    height: 21px;
    padding: 0px 8px;
    border-radius: 4px;
}

.incompleteTasks {
    margin-bottom: 40px;
}

